global
  log stdout format raw local0
  maxconn 4096

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client 2m
  timeout server 2m

frontend redis_front
  bind *:6379
  default_backend camellia_proxies

backend camellia_proxies
  balance roundrobin
  option tcp-check
  server proxy1 camellia-proxy-1:6380 check
  server proxy2 camellia-proxy-2:6380 check
